.chat {
  flex: 2;
  border-left: 1px solid #dddddd34;
  border-right: 1px solid #dddddd34;

  display: flex;
  flex-direction: column;

  height: 100%;

    .top {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd34;

        .user {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts {
            display: flex;
            flex-direction: column;
            gap: 4px;

            span {
            font-size: 18px;
            font-weight: bold;
            }

            p {
            font: 14px;
            font-weight: 300;
            color: #a5a5a5;
            }
        }
        }

        .icons {
        display: flex;
        gap: 20px;

        img {
            width: 20px;
            height: 20px;
        }
        }
    }

    .center {
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        overflow-y: scroll;

        /* Make scroll more beautiful */
        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(109, 135, 184, 0.836);
            border-radius: 10px;
        }

        .message {
            max-width: 70%;
            display: flex;
            gap: 10px;

            &.own {
                align-self: flex-end;

                .texts {
                    p {
                        border-radius: 10px 0px 10px 10px;
                        background-color: rgb(31 96 194 / 30%);
                    }

                    span {
                        text-align: right;
                    }   
                }
            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
            .texts {
                /* flex: 1; */
                display: flex;
                flex-direction: column;
                gap: 4px;

                img {
                    width: 100%;
                    height: 300px;
                    border-radius: 10px;
                    object-fit: cover;
                }

                p {
                    padding: 10px;
                    background-color: rgb(130 132 135 / 30%);
                    border-radius: 0px 10px 10px 10px;
                }

                span {
                    font-size: 12px;
                }
            }
        }
    }

    .bottom {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd34;
        gap: 20px;

        .icons {
            display: flex;
            gap: 20px;
        }

        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        input {
            flex: 1;
            background-color: rgba(17, 25, 40, 0.4);
            border: none;
            outline: none;
            color: white;
            padding: 20px;
            border-radius: 10px;
            font-size: 16px;

            &:disabled {
                cursor: not-allowed;
            }
        }

        .emoji {
            position: relative;

            .picker {
                position: absolute;
                bottom: 60px;
                right: 0;
            }
        }

        .sendButton {
            background-color: #5983fe;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:disabled {
                background-color: #5982fc95;
                cursor: not-allowed;
            }
        }
    }
}
